<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Provision a new Workspace</h4>
        </div>
        <div class="col col-6">
            <form id="formNewWorkspace" #form #newWorkspaceForm="ngForm" method="POST" action="{{ newWorkspacePostUrl }}">
                <div class="form-group row"></div>
                <div class="form-group row">
                    <label for="username" class="col-1 col-form-label">
                        Username:
                    </label>
                    <div class="col-11">
                        <input class="form-control" id="username" name="username" type="text" placeholder="matti.meikalainen"
                            required
                            [(ngModel)]="workspace.username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="useremail" class="col-1 col-form-label">
                        Useremail:
                    </label>
                    <div class="col-11">
                        <input class="form-control" id="useremail" type="text" name="useremail" placeholder="matti.meikalainen@example.com"
                            required
                            [(ngModel)]="workspace.useremail">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-1 col-form-label">
                        Password:
                    </label>
                    <div class="col-11">
                        <input class="form-control" id="password" type="password" name="password"
                            required
                            [(ngModel)]="workspace.password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fullname" class="col-1 col-form-label">
                        Full name:
                    </label>
                    <div class="col-11">
                        <input class="form-control" id="fullname" type="text" name="fullname" placeholder="Matti Meikäläinen"
                            required
                            [(ngModel)]="workspace.fullName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="startDate" class="col-1 col-form-label">
                        Start Date:
                    </label>
                    <div class="col-11">
                        <div class="input-group date">
                            <input type="text" id="startDate" name="startDate" class="form-control"
                                required readonly
                                [(ngModel)]="workspace.startDate"
                                ngbDatepicker #startDateD="ngbDatepicker"
                                (ngModelChange)="onStartDateChange($event)"
                                (click)="startDateD.toggle()">
                            <span class="input-group-addon" (click)="startDateD.toggle()">
                                <fa-icon class="calendar-icon" [icon]="['far', 'calendar-alt']" size="2x"></fa-icon>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="endDate" class="col-1 col-form-label">
                        End Date:
                    </label>
                    <div class="col-11">
                        <div class="input-group date">
                            <input type="text" id="endDate" name="endDate" class="form-control"
                                required readonly
                                [(ngModel)]="workspace.endDate"
                                ngbDatepicker #endDateD="ngbDatepicker"
                                (click)="endDateD.toggle()">
                            <span class="input-group-addon" (click)="endDateD.toggle()">
                                <fa-icon class="calendar-icon" [icon]="['far', 'calendar-alt']" size="2x"></fa-icon>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="bundleId" class="col-1 col-form-label">
                        Bundle id:
                    </label>
                    <div class="col-11">
                        <select id="bundleId"
                            class="form-control"
                            [(ngModel)]="workspace.bundleId"
                            required
                            id="bundleId"
                            name="bundleId">
                            <option *ngFor="let bundle of bundleIds" [value]="bundle">{{ bundle }}</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-offset-2 col-10">
                        <input class="form-control"
                            id="bundleIdOverride"
                            type="text"
                            name="bundleIdOverride"
                            placeholder="This will overwrite the selected bundle id"
                            (blur)="onBlurMethod()"
                            [(ngModel)]="workspace.bundleId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="directoryId" class="col-1 col-form-label">
                        Directory id:
                    </label>
                    <div class="col-11">
                        <input class="form-control"
                            id="directoryId"
                            type="text"
                            name="directoryId"
                            placeholder="{{ directoryId }}"
                            required
                            [(ngModel)]="workspace.directoryId">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="secretKey" class="col-1 col-form-label">
                        Secret key:
                    </label>
                    <div class="col-11">
                        <input class="form-control"
                            id="secretKey"
                            name="secretKey"
                            type="password"
                            required
                            [(ngModel)]="workspace.secretKey">
                    </div>
                </div>

                <input class="btn btn-primary" type="submit"
                    value="Submit"
                    (click)="form.submit()"
                    [disabled]="!newWorkspaceForm.form.valid">
            </form>
        </div>
        <div class="col col-4">
            <img src="https://dwfacademy.com/wp-content/uploads/2017/04/DWAcademy-logo-RGB5.png">
        </div>
    </div>

</div>

