
<ngb-tabset>
    <ngb-tab title="New Workspace">
        <ng-template ngbTabContent>
            <app-new-workspace></app-new-workspace>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Update an end date">
        <ng-template ngbTabContent>
            <app-update-end-date></app-update-end-date>
        </ng-template>
    </ngb-tab>
</ngb-tabset>


    <!-- <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/heroes">Heroes</a>
    </nav> -->

    <!--
    <div class="container-fluid">
        <app-new-workspace></app-new-workspace>
    </div>
    -->

    <!-- <router-outlet></router-outlet> -->
