<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.useremail" [term]="t"></ngb-highlight>
</ng-template>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4>Update the end date</h4>
        </div>

        <div class="col-6">
            <div class="form-group row">
                <label for="useremailChange" class="col-2 col-form-label">
                    Select email:
                </label>
                <div class="col-6">
                    <input id="useremailChange"
                        name="useremailChange"
                        type="text"
                        class="form-control"
                        placeholder="Loading workspaces..."
                        disabled
                        *ngIf="loading" />
                    <input id="useremailChange"
                        name="useremailChange"
                        type="text"
                        class="form-control"
                        required
                        *ngIf="!loading"
                        (focus)="focus$.next($event.target.value)"
                        (click)="click$.next($event.target.value)"
                        #instance="ngbTypeahead"
                        [(ngModel)]="selectedWorkspace"
                        [inputFormatter]="formatter"
                        [resultTemplate]="rt"
                        [ngbTypeahead]="workspacesSearch" />
                </div>
            </div>
            <form id="updateEndDate" #form #updateEndDateForm="ngForm" method="POST" action="{{ changeEndDatePostUrl }}">
                <div class="form-group row">
                    <label for="startDate" class="col-2 col-form-label">
                        Start date:
                    </label>
                    <div class="col-10">
                        <div class="input-group date">
                            <input readonly type="text"
                                id="startDate"
                                name="startDate"
                                class="form-control"
                                [ngModel]="selectedWorkspace.startDate">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="oldEndDate" class="col-2 col-form-label">
                        Old end date:
                    </label>
                    <div class="col-10">
                        <div class="input-group date">
                            <input readonly type="text"
                                id="oldEndDate"
                                name="oldEndDate"
                                class="form-control"
                                [ngModel]="selectedWorkspace.oldEndDate">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newEndDate" class="col-2 col-form-label">
                        New end date:
                    </label>
                    <div class="col-6">
                        <div class="input-group date">
                            <input type="text"
                                id="newEndDate"
                                name="newEndDate"
                                class="form-control"
                                required readonly
                                placeholder="Change this end date"
                                [ngModel]="selectedWorkspace.newEndDate"
                                ngbDatepicker #newStartDateD="ngbDatepicker"
                                (click)="newStartDateD.toggle()">
                            <span class="input-group-addon" (click)="newStartDateD.toggle()">
                                <fa-icon class="calendar-icon" [icon]="['far', 'calendar-alt']" size="2x"></fa-icon>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="secretKey" class="col-2 col-form-label">
                        Secret key:
                    </label>
                    <div class="col-6">
                        <input class="form-control"
                            id="secretKey"
                            name="secretKey"
                            type="password"
                            required
                            [(ngModel)]="secretKey">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label">
                        Send email to admins
                        <input type="checkbox"
                            id="sendToAdmins"
                            name="sendToAdmins"
                            value="true"
                            checked>
                    </label>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label">
                        Send email to the client
                        <input type="checkbox"
                            id="sendToClient"
                            name="sendToClient"
                            value="true"
                            checked>
                    </label>
                </div>

                <input type="hidden"
                    id="username"
                    name="username"
                    [ngModel]="selectedWorkspace.username">
                <input type="hidden"
                    id="useremail"
                    name="useremail"
                    [ngModel]="selectedWorkspace.useremail">

                <input class="btn btn-primary"
                    type="submit"
                    value="Submit"
                    (click)="form.submit()"
                    [disabled]="!updateEndDateForm.form.valid">
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
